<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Chegando! precisa da sua localização para mostrar onde você está no mapa e definir seu destino.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Chegando! precisa monitorar sua localização em segundo plano para alertá-lo quando você estiver próximo do seu destino, mesmo com o app fechado ou com a tela bloqueada.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
